<svg
  aria-hidden="true"
  focusable="false"
  data-prefix="fad"
  data-icon="angle-double-right"
  role="img"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 448 512"
  class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
>
  <g class="fa-group">
    <path
      fill="currentColor"
      d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
      class="fa-secondary"
    ></path>
    <path
      fill="currentColor"
      d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
      class="fa-primary"
    ></path>
  </g>
</svg>


// Old bugs

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
        <title></title>
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <div class="content">
            <div class="container">
                <button type="button" class="btn btn-primary bug-submit">Submit Bug</button>
                <h2>Project 1 Bugs:</h1>
                <div class="row">
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-open">Open</h3>
                        <ul class="list-group bug-list">
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <a href="#" class="bug-link">
                                    <div class="container-fluid  card-body">
                                        <button type="button" class="bug-btn btn-sm btn btn-outline-danger">></button>
                                        <p class="card-text bug-text">A really sucky bug found in some good code.</p>
                                        <h6 class="card-title bug-title">Author: Bob</h6>
                                        <p class="card-text bug-time">time</p>
                                    </div>
                                </a>
                                </div>
                            </li>
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <div class="container-fluid  card-body">
                                        <h6 class="card-title">Author: Bob</h6>
                                        <p class="card-text">A really sucky bug found in some good code.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-progress">In Progress</h3>
                        <ul class="list-group bug-list">
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <div class="container-fluid  card-body">
                                        <h6 class="card-title">Author: Bob</h6>
                                        <p class="card-text">A really sucky bug found in some good code.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-testing">Testing</h3>
                        <ul class="list-group bug-list">
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <a href="#" class="bug-link">
                                    <div class="container-fluid  card-body">
                                        <h6 class="card-title">Author: Bob</h6>
                                        <p class="card-text">A really sucky bug found in some good code.</p>
                                    </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-closed">Closed</h3>
                        <ul class="list-group bug-list">
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <div class="container-fluid  card-body">
                                        <h6 class="card-title">Author: Bob</h6>
                                        <p class="card-text">A really sucky bug found in some good code.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <div class="container-fluid  card-body">
                                        <h6 class="card-title">Author: Bob</h6>
                                        <p class="card-text">A really sucky bug found in some good code.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Join Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/tracker/new" method="POST">
              <div class="form-group">
                  <label for="projectId">Join ID</label>
                  <input type="text" class="form-control" id="projectId" name="name" placeholder="paste project ID here">
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
