<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
        <title>Bug Tracker | Login</title>
    </head>
    <body>
        <div class="content">
            <div class="container new-project-cont">
                <div class="login-icon">
                    <i class="fas fa-spider"></i>
                </div>
                <h2 class="login-title">Welcome to Bug Tracker</h2>
                <form class="login" action="/sessions" method="POST">
                    <div class="form-group">
                        <label for="username">User name</label>
                        <input type="text" class="form-control" id="username" aria-describedby="User Name" placeholder="Enter user name" name="username">
                        <small id="unhelp" class="form-text" style="color: red;">That username and password combination could not be found.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me">
                        <label class="form-check-label" for="remember-me">Remember me?</label>
                    </div>
                    <button type="submit" class="btn btn-primary login-button">Submit</button>
                    <button type="button" onclick="window.location.href = '/users/new';" class="btn btn-success sign-up">Create Account</button>
                </form>
            </div>
        </div>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
