<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Bug Tracker</title>
    </head>
    <body>
        <h1>Welcome to Bug Tracker!</h1>
        <h3>Log in or click sign up to create a new account.</h3>
        <form class="login" action="/sessions" method="POST">
            <label for="username">User Name:</label>
            <input type="text" name="username" id="name" placeholder="Username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div class="err-message">

            </div>
            <br>
            <button type="submit" value="Submit">Submit</button>
        </form>
        <button onclick="window.location.href = '/users/new';" class="sign-up">Create Account</button>
    </body>
</html>
