<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; img-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" /> -->
        <%- include ('../partials/head.ejs') %>
        <title>Bug Tracker | Login</title>
    </head>
    <body>
        <div class="content">
            <div class="container new-project-cont">
                <div class="login-icon">
                    <i class="fas fa-spider"></i>
                </div>
                <h2 class="login-title">Create Account</h2>
                <form class="login" action="/users" method="POST">
                    <div class="form-group">
                        <label for="username">User name</label>
                        <input type="text" class="form-control" id="username" aria-describedby="User Name" placeholder="Enter user name" name="username">
                        <small id="unhelp" class="form-text text-muted">This must be unique.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        <label for="password2">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2">
                        <small id="passhelp" class="form-text" style="color: red;">Your passwords must match.</small>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me">
                        <label class="form-check-label" for="remember-me">Remember me?</label>
                    </div>
                    <button type="submit" class="btn btn-primary login-button">Create Account</button>
                    <button type="button" onclick="window.location.href = '/sessions/new';" class="btn btn-danger sign-up">Back</button>
                </form>
            </div>
        </div>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
